<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}｜{{ current_tags | join: ', ' }}{% endif -%}
      {%- if current_page != 1 %}｜{{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}｜{{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ 'none-layout-reset.css' | asset_url | stylesheet_tag }}

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js?ver=20230731151543"
      id="theme-jquery.min-js"
    ></script>
  </head>

  {% if template == 'index' or page.handle == 'about' %}
    {% assign wrapper_class = 'top' %}
  {% endif %}
  {% if page or template contains 'customers/' %}
    {% assign wrapper_class = 'page' %}
  {% endif %}

  <body class="">
    {% sections 'header-lp-online-lesson-group' %}

    <main id="" class="">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-lp-online-lesson-group' %}
  </body>
</html>
