<div class="page-width">
  
  {%- if section.settings.image != blank -%}
  <div class="section-image">
    <div class="section__media media">{{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths
      }}</div>
  </div>
  {% endif %}

  <div class="grid grid--2-col-desktop valign-middle content-size-m">
    <div class="grid__item">
      {% if section.settings.section_heading !=blank %}
        <h2 class="heading {% if section.settings.heading_size !="default" %} size-{{ section.settings.heading_size }} {% endif %}" data-sub_heading="{{ section.settings.section_sub_heading }}">{{ section.settings.section_heading }}</h2>
      {% endif %}
      {% if section.settings.description !=blank %}
        <p>{{ section.settings.description }}</p>
      {% endif %}
      {% if section.settings.button-label !=blank %}
        <a href="{{ section.settings.button-link }}" class="button">{{ section.settings.button-label }}</a>
      {% endif %}
    </div>
    <div class="grid__item">
      <ul class="grid subscription-feature-list">
          {%- if settings.grid_item_1_heading != blank -%}
            <li class="grid__item feature__item">
              <figure>{{ settings.grid_item_1_img | image_url: width: 600 | image_tag:
                                class: 'subscription-feature-media-1',
                                widths: widths,
                                height: logo_height,
                                width: settings.logo_width,
                                alt: logo_alt,
                                sizes: sizes,
                                preload: true
                              }}
              </figure>
              <p class="heading">{{ settings.grid_item_1_heading }}</p>
            </li>
          {% endif %}
          {%- if settings.grid_item_2_heading != blank -%}
            <li class="grid__item feature__item">
              <figure>{{ settings.grid_item_2_img | image_url: width: 600 | image_tag:
                                class: 'subscription-feature-media-2',
                                widths: widths,
                                height: logo_height,
                                width: settings.logo_width,
                                alt: logo_alt,
                                sizes: sizes,
                                preload: true
                              }}
              </figure>
              <p class="heading">{{ settings.grid_item_2_heading }}</p>
            </li>
          {% endif %}
          {%- if settings.grid_item_3_heading != blank -%}
            <li class="grid__item feature__item">
              <figure>{{ settings.grid_item_3_img | image_url: width: 600 | image_tag:
                                class: 'subscription-feature-media-3',
                                widths: widths,
                                height: logo_height,
                                width: settings.logo_width,
                                alt: logo_alt,
                                sizes: sizes,
                                preload: true
                              }}
              </figure>
              <p class="heading">{{ settings.grid_item_3_heading }}</p>
            </li>
          {% endif %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "定期購買",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "エリア画像"
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "見出し"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.heading_size.options__1.label"
          }, {
            "value": "m",
            "label": "t:sections.all.heading_size.options__2.label"
          }, {
            "value": "l",
            "label": "t:sections.all.heading_size.options__3.label"
          }, {
            "value": "xl",
            "label": "最大"
          }
        ],
        "default": "l",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "text",
        "id": "section_sub_heading",
        "label": "見出し（英語）"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      },
      {
        "type": "header",
        "content": "ボタン"
      },
      {
        "type": "text",
        "id": "button-label",
        "label": "ラベル"
      }, 
      {
        "type": "text",
        "id": "button-link",
        "label": "リンク"
      }
    ],
    "presets": [
      {
        "name": "定期購買"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

