{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}

<div class="section-heading-wrapper section-container  page-width {% if section.settings.change_box_layout !=blank %} type-reverse{% endif %}">
  {% if section.settings.section_heading !=blank %}
  <div class="heading__item">
    <h2 class="heading type-vertical{% if section.settings.heading_size !="default" %} size-{{ section.settings.heading_size }} {% endif %}" data-sub_heading="{{ section.settings.section_sub_heading }}">{{ section.settings.section_heading }}</h2>
  </div>
  {% endif %}
  
  <div class="blog color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %} content__item">
  <div class="page-width-desktop isolate{% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section.id }}-padding fuatured-blog-wrapper">
    {%- unless section.settings.heading == blank -%}
      <div class="title-wrapper-with-link{% if posts_displayed > 2 %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
        <h2
          id="SectionHeading-{{ section.id }}"
          class="blog__title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
          data-cascade
          {% endif %}>
          {{ section.settings.heading }}
        </h2>

        {%- if section.settings.blog != blank
 and section.settings.show_view_all
 and section.settings.post_limit < section.settings.blog.articles_count
 -%}
          <a href="{{ section.settings.blog.url }}" class="link underlined-link large-up-hide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}

      {% assign grid_gap = ""  %}
      {% if section.settings.box_gap != "default" %}
        {% assign grid_gap = 'grid--gap-' | append: section.settings.box_gap %}
      {% endif %}
      
      <slider-component class="slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <a class="slide-trigger slide-next view-pc" href="#fuatured_blog_atricle_1">test</a>
        <a class="slide-trigger slide-prev view-pc disabled" href="#fuatured_blog_atricle_4">test</a>
        <ul
          id="Slider-{{ section.id }}"
          class="blog__posts articles-wrapper contains-card contains-card--article{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--peek grid--1-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop slider {% if posts_displayed > 2 %}slider--tablet{% else %}slider--mobile{% endif %} {{ grid_gap }} article-list fuatured-blog"
          role="list">
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <li
              id="fuatured_blog_atricle_{{ forloop.index }}{% comment %}Slide-{{ section.id }}-{{ forloop.index }}{% endcomment %}"
              data-area="fuatured_blog_atricle_{{ forloop.index }}" 
              class="blog__post grid__item article slider__slide slider__slide--full-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {% render 'article-card'
               , blog: section.settings.blog,
               article: article,
               media_aspect_ratio: 1.66,
               show_image: section.settings.show_image,
               show_date: section.settings.show_date,
               show_author: section.settings.show_author,
               show_excerpt: true %}
            </li>
          {%- endfor -%}
        </ul>
        {%- if posts_exceed_limit -%}
          <div class="slider-buttons no-js-hidden{% if section.settings.post_limit < 3 %} medium-hide{% endif %}{% if section.settings.post_limit < 2 %} small-hide{% endif %}">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}">
              {% render 'icon-caret' %}
            </button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true">
                /
              </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ section.settings.post_limit }}</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}">
              {% render 'icon-caret' %}
            </button>
          </div>
        {%- endif -%}
      </slider-component>

    
      {%- if section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
        {% comment %}
        <div
          class="blog__view-all center small-hide medium-hide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
          data-cascade
          {% endif %}>
          <a
            href="{{ section.settings.blog.url }}"
            id="ViewAll-{{ section.id }}"
            class="blog__button button"
            aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}">
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        </div>
        {% endcomment %}
      {%- endif -%}
    {%- else -%}
      {% comment %}
      <div
        class="blog-placeholder{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
        data-cascade
        {% endif %}>
        <div class="placeholder media media--landscape">
          {{ 'blog-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="blog-placeholder__content">
          <h2>
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
      {% endcomment %}
    {%- endif -%}

  </div>

    <a href="/blogs/coffee-journal" class="create_account link animate-arrow align-right" >
        すべての記事を見る
        <span class="icon-wrap"><svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path></svg>
        </span>
      </a>
    
</div>
</div>
  
{% schema %}
  {
    "name": "ブログ（トップ用）",
    "tag": "section",
     "class": "section  section-fuatured-blog",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "見出し"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.heading_size.options__1.label"
          }, {
            "value": "m",
            "label": "t:sections.all.heading_size.options__2.label"
          }, {
            "value": "l",
            "label": "t:sections.all.heading_size.options__3.label"
          }, {
            "value": "xl",
            "label": "最大"
          }
        ],
        "default": "l",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "text",
        "id": "section_sub_heading",
        "label": "見出し（英語）"
      },
      {
        "type": "checkbox",
        "id": "change_box_layout",
        "default": false,
        "label": "レイアウトを左右入れ替える"
      }, {
        "type": "blog",
        "id": "blog",
        "label": "t:sections.featured-blog.settings.blog.label"
      }, {
        "type": "range",
        "id": "post_limit",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3,
        "label": "t:sections.featured-blog.settings.post_limit.label"
      }, {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3,
        "label": "t:sections.featured-blog.settings.columns_desktop.label"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info",
        "default": "background-1"
      }, {
        "type": "checkbox",
        "id": "show_image",
        "default": true,
        "label": "t:sections.featured-blog.settings.show_image.label",
        "info": "t:sections.featured-blog.settings.show_image.info"
      }, {
        "type": "checkbox",
        "id": "show_date",
        "default": true,
        "label": "t:sections.featured-blog.settings.show_date.label"
      }, {
        "type": "checkbox",
        "id": "show_author",
        "default": false,
        "label": "t:sections.featured-blog.settings.show_author.label"
      }, {
        "type": "checkbox",
        "id": "show_view_all",
        "default": true,
        "label": "t:sections.featured-blog.settings.show_view_all.label"
      }, {
        "type": "header",
        "content": "カラム間の余白"
      },  {
        "type": "select",
        "id": "box_gap",
        "default": "default",
        "label": "余白の広さ",
        "options": [
          {
            "value": "none",
            "label": "余白なし"
          }, {
            "value": "s",
            "label": "狭い"
          }, {
            "value": "default",
            "label": "標準"
          }, {
            "value": "l",
            "label": "広い"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "ブログ（トップ用）",
        "settings": {
          "blog": "News"
        }
      }
    ]
  }
{% endschema %}