<div class="page-width collection-section-block {% if section.settings.change_block !=blank %} section-block{% endif %}">
  
  {%- if section.settings.image != blank -%}
  <div class="section-image collection-section-image">
    <div class="section__media media">{{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths
      }}</div>
  </div>
  {% endif %}

  <div class=" {% comment %}grid grid--2-col-desktop grid--gap-l valign-middle{% endcomment %}page-width content-size-m">
    {% comment %}<div class="grid__item">{% endcomment %}
      {% if section.settings.section_heading !=blank %}
        <h2 class="heading type-sub_heading {% if section.settings.heading_size !="default" %} size-{{ section.settings.heading_size }} {% endif %}{%- if section.settings.heading_text_align != blank -%} align-{{ section.settings.heading_text_align }} {% endif %}" data-sub_heading="{{ section.settings.section_sub_heading }}">{{ section.settings.section_heading }}</h2>
      {% endif %}
      {% if section.settings.description !=blank %}
        <div class="{%- if section.settings.heading_text_align != blank -%} align-{{ section.settings.heading_text_align }} {% endif %} description">
        {{ section.settings.description }}
        </div>
      {% endif %}
      {% if section.settings.button-label !=blank %}
        <a href="{{ section.settings.button-link }}" class="button">{{ section.settings.button-label }}</a>
      {% endif %}
    {% comment %}</div>{% endcomment %}
    {% comment %}<div class="grid__item">{% endcomment %}
      <ul
        class="multicolumn-list contains-content-container grid grid--5-col-desktop grid--2-col-tablet-down grid--gap-s collection-beens-list"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          {%- assign empty_column = '' -%}
          {%- if block.settings.image == blank
            and block.settings.title == blank
            and block.settings.text == blank
            and block.settings.link_label == blank
          -%}
            {%- assign empty_column = ' multicolumn-list__item--empty' -%}
          {%- endif -%}

          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item been__item{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {%- if block.settings.link_label != blank -%}
                  <a
                    class="link"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                  >
                    {{- block.settings.link_label | escape -}}</a>
                {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {% comment %}</div>{% endcomment %}
  </div>
</div>

{% schema %}
  {
    "name": "商品一覧（その他）",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      },
      {
      "type": "checkbox",
      "id": "change_block",
      "default": false,
      "label": "セクションを解除する（セクション間の余白を狭める）"
    },
      {
        "type": "image_picker",
        "id": "image",
        "label": "エリア画像"
      },
      {
        "type": "richtext",
        "id": "section_heading",
        "label": "見出し"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.heading_size.options__1.label"
          }, {
            "value": "m",
            "label": "t:sections.all.heading_size.options__2.label"
          }, {
            "value": "l",
            "label": "t:sections.all.heading_size.options__3.label"
          }, {
            "value": "xl",
            "label": "最大"
          }
        ],
        "default": "l",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "select",
        "id": "heading_text_align",
        "options": [
          {
            "value": "left",
            "label": "左寄せ"
          },
          {
            "value": "center",
            "label": "中央寄せ"
          },
          {
            "value": "right",
            "label": "右寄せ"
          }
        ],
        "default": "left",
        "label": " 見出し行揃え"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      },
      {
        "type": "select",
        "id": "description_text_align",
        "options": [
          {
            "value": "left",
            "label": "左寄せ"
          },
          {
            "value": "center",
            "label": "中央寄せ"
          },
          {
            "value": "right",
            "label": "右寄せ"
          }
        ],
        "default": "left",
        "label": " 説明行揃え"
      }
    ],
    "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    }
  ],
    "presets": [
      {
        "name": "商品一覧（その他）"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

