<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap">

{{ 'common-lp-online-lesson.css' | asset_url | stylesheet_tag }}

{{ 'section-header-lp-online-lesson.css' | asset_url | stylesheet_tag }}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

<header class="header">
  <div class="header-content container">
    <div class="header-navi">
      <a href="" class="header-navi__logo">
        <img src="{{ 'lp-roasting-lesson__logo-white.webp' | asset_url }}">
      </a>
      <ul class="header-navi__menu header-menu">
        <li class="header-menu__item">
          <a href="">
            焙煎教室
          </a>
        </li>
        <li class="header-menu__item">
          <a href="">
            講座内容
          </a>
        </li>
        <li class="header-menu__item">
          <a href="">
            お申込み
          </a>
        </li>
        <li class="header-menu__item">
          <a href="">
            費用・開催日
          </a>
        </li>
        <li class="header-menu__item">
          <a href="">
            お客様の声
          </a>
        </li>
        <li class="header-menu__item">
          <a href="">
            店舗情報
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "ヘッダー【LP】",
  "presets": [
    {
      "name": "ヘッダー【LP】"
    }
  ]
}
{% endschema %}
