<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }


  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'announcement' -%}
            <div class="header-postage">
              {%- if block.settings.header-postage-img != blank -%}
                    <figure class="postage-icon">{{ block.settings.header-postage-img | image_url: width: 600 | image_tag:
                                      widths: widths,
                                      height: logo_height,
                                      width: settings.logo_width,
                                      alt: logo_alt,
                                      sizes: sizes,
                                      preload: true
                                    }}
                    </figure>
                {% endif %}
        {{ block.settings.header-postage-text1 }}<sapn class="emphasis">{{ block.settings.header-postage-text2 }}</sapn></div>
      {%- endcase -%}
    {%- endfor -%}
    
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                <svg class="header__heading-logo motion-reduce" xmlns="http://www.w3.org/2000/svg" x="0px"y="0px" viewBox="0 0 600 156"><path d="M221.3,60.3c-6.2,7.4-13.1,14.8-19.7,21.9c-5.5,5.9-10.8,11.6-15.8,17.4c3.4-14.2,6.1-27.3,7.7-34.5c0.5-2.4,0.9-4.3,1-4.9c0.4-0.8,0-1.8-0.8-2.2c-0.2-0.1-0.3-0.1-0.5-0.1c-0.7-0.1-1.4,0.3-1.6,1l0,0c-4.8,9.8-10.2,19.2-16.2,28.3c-2.5,3.7-3.8,4.7-4.3,5.1c-0.5-2.1-0.6-4.3-0.2-6.5c0.4-5.6,1.5-11.2,3.2-16.6c0.3-0.8-0.1-1.8-1-2.1c-0.7-0.3-1.5,0-1.9,0.7c0,0.1-4.1,6.5-12.7,17.8c-3.3,4.3-4.9,5.4-5.5,5.6c-0.2-1.1-0.2-2.3,0-3.4c0.4-3.4,2.8-16.9,2.8-17c0.2-0.9-0.4-1.7-1.3-1.9c-0.8-0.1-1.6,0.3-1.8,1.1c-4.7,15.2-8.5,18.4-9.6,18.3c-0.4,0-0.8-0.8-1.1-2c-0.4-4.1,0.8-8.2,3.3-11.5c1.1-1.8,2.8-3.2,4.8-3.9c0.9-0.1,1.5-1,1.3-1.9l0,0c-0.1-0.9-1-1.5-1.9-1.3l0,0l0,0c-2.3,0.4-4.8,2.2-6.9,5.2c-2,2.9-3.4,6.2-3.8,9.7l-0.1,0.1c-7.1,9.9-11,12.2-12,12.3c-0.2-1.1-0.2-2.2,0.1-3.3c3.8-19.1,8.7-38,14.7-56.6c0.3-0.9-0.2-1.8-1.1-2c-0.8-0.2-1.7,0.2-2,1c-0.1,0.3-12.4,34.5-22.5,51.2c-6.4,10.4-8.8,9.7-8.8,9.7c-0.6-0.2-1.3-2.3-1-5.2c0.9-8.5,4.7-15.6,6.4-17.4c1.9-1.9,3.6-2.3,4.5-2s1.3,1.4,1.4,2.2c0.1,0.9,1,1.5,1.9,1.3c0.9-0.1,1.5-1,1.4-1.8l0,0c-0.2-2.2-1.6-4-3.6-4.8c-2.4-0.8-5.2,0.2-7.8,2.8c-2.4,2.4-6.4,10.2-7.3,19.3c-0.4,3.5,0.3,7.6,3.2,8.6c0.4,0.1,0.8,0.2,1.2,0.2c3.1,0,6.7-3.7,11.4-11.3c4-6.8,7.5-13.9,10.6-21.2c-2,7.9-4,16.7-5.7,25.3c-0.3,1.4-1.1,5.7,1.7,6.9c3.4,1.5,9-4.2,13.7-10.3c0.6,2.3,2,3.8,3.9,3.9c2.6,0.2,5.1-2.4,7.2-6.3c-0.1,0.9-0.2,1.6-0.3,2.1c-0.5,3.9,0.2,6.2,2,6.9c2.3,0.9,5-1.1,9.4-6.8c3.2-4.1,5.7-7.6,7.7-10.3c-0.5,2.8-0.9,5.5-1.1,8.3c-0.4,6.3,0.2,9.2,2.4,9.9c2.1,0.7,4.5-1.1,8.1-6.5c4.3-6.4,8.1-12.8,10.9-17.9c-1.9,8.8-4.6,21.3-7.8,34c-9.5,11.5-17.3,22.9-21.3,34.6c-2.7,8-2.1,13.8,1.5,15c0.4,0.1,0.8,0.2,1.3,0.2c3.9,0,8.4-5.7,11.9-15.3c3.4-9.3,6.7-21.3,9.7-33.1c5.6-7,12.4-14.3,19.4-21.8c6.7-7.2,13.6-14.6,19.8-22c0.6-0.7,0.5-1.7-0.2-2.3C222.9,59.5,221.9,59.6,221.3,60.3L221.3,60.3M171.3,138.6c-3.9,10.9-8,13.4-9,13.1c-0.7-0.2-1.9-3.4,0.6-10.9c3.2-9.5,9-18.7,16.2-28.1C176.6,122.1,174,131.2,171.3,138.6M266.4,81.2c-0.2,0-0.5,0-0.7,0c-0.2-0.2-0.7-1-1.1-6.1c-0.1-1.1-0.3-4.5-2.8-5.1c-1.6-0.4-4.1,0.1-9,7.5l1.8-6.8c0.2-0.9-0.3-1.8-1.2-2c-0.6-0.2-1.3,0.1-1.7,0.6c-0.1,0.1-6.9,9.4-13.6,17.8c-0.5,0.6-1,1.2-1.6,1.8c-0.1-2.3,1-8.7,4.8-18.6c0.3-0.8-0.1-1.8-0.9-2.1s-1.8,0.1-2.1,0.9l0,0l0,0c-2.4,6.2-7.4,20.9-3.4,23.1c0.4,0.2,0.8,0.3,1.2,0.3c1.9,0,3.8-2.3,4.7-3.4c3.1-3.9,6.2-7.9,8.7-11.2l-2,7.6c-0.2,0.9,0.3,1.8,1.2,2c0.6,0.2,1.3-0.1,1.7-0.6c0.1-0.2,2.9-3.8,4.5-6.4c3.9-6.1,5.8-7.2,6.3-7.4c0.3,0.7,0.5,1.4,0.5,2.2c0.4,5.1,0.9,7.3,2.2,8.4c0.9,0.7,2,1,3.1,0.8c0.9-0.1,1.6-0.8,1.5-1.7l0,0l0,0C268.1,81.8,267.3,81.1,266.4,81.2 M239.8,61.9c0.3,0,0.7-0.1,1-0.3c2.7-1.7,5-3.9,6.8-6.5c0.5-0.8,0.2-1.8-0.6-2.2l0,0l0,0c-0.8-0.5-1.8-0.2-2.2,0.6l0,0l0,0c-1.6,2.2-3.6,4.1-5.9,5.5c-0.7,0.5-0.9,1.5-0.4,2.3C238.8,61.7,239.3,61.9,239.8,61.9M354.2,68.6c-9.1,9.8-12.8,13.3-18.2,13.9c-0.3,0-0.6,0-0.9,0c2.9-2.8,5.1-6.2,6.4-10c0.8-2.3-0.3-3.3-0.8-3.6c-1.4-0.9-3.5-0.1-5.9,2.4c-2.4,2.4-4.9,7.6-4.2,11.1c-0.3,0.2-0.5,0.5-0.8,0.7c-2.5,2.3-4,2.8-4.3,2.8c-0.1-0.2-0.4-1.1,0.2-3.8c2.3-10.5,0.6-12.5-0.9-13.1c-0.7-0.3-2.4-0.6-4.2,2c-1.9,2.8-3.6,5.8-5,8.9c1.2-6,2.7-13.3,4.4-20.9c6.1-1.2,12.3-2.2,19.1-2.9c0.9-0.1,1.6-0.8,1.5-1.7s-0.8-1.6-1.7-1.5h-0.1c-6.3,0.7-12.2,1.6-17.9,2.7c0.6-2.5,1.3-5.1,2-7.7c0.2-0.9-0.3-1.8-1.2-2c-0.8-0.2-1.6,0.2-1.9,0.9c-1.2,3-2.7,6.3-4.3,9.8c-5.5,1.2-11.1,2.7-17.2,4.5c2.1-9.9,3.9-18.4,4-18.6c0.2-0.9-0.4-1.7-1.3-1.9l0,0c-0.9-0.2-1.7,0.4-1.9,1.3c0,0.2-2.1,9.7-4.3,20.3c-5.4,1.7-11.3,3.7-17.9,6.1c-0.9,0.3-1.3,1.2-1,2.1s1.2,1.3,2.1,1c0,0,0,0,0.1,0c5.9-2.1,11.1-3.9,16-5.5c-2,9.2-4,18.5-4.9,22.9c-0.8,3.9-1.7,10.8,1.8,12.2c0.4,0.2,0.8,0.2,1.2,0.2c2.9,0,5.6-4,6.5-5.4c3.9-5.8,10.9-19.1,16.9-31.7c-3.8,17.2-6,31.4-6,31.5c-0.1,0.9,0.5,1.7,1.4,1.9c0.8,0.1,1.5-0.4,1.8-1.1c3.3-10.2,6.7-17.9,10.7-23.7c0.1-0.1,0.1-0.2,0.2-0.2c0.2,3-0.2,6-1,8.8c-0.3,1.4-1.3,5.8,1.4,7.3c1.9,1.1,4.6,0.1,8.2-3.2l0.4-0.4c1.1,0.7,2.5,0.9,3.8,0.7c6.8-0.8,11.1-5.2,20.1-14.9c0.6-0.7,0.6-1.7-0.1-2.3l0,0l0,0C355.9,68,354.8,68,354.2,68.6C354.2,68.6,354.2,68.7,354.2,68.6L354.2,68.6 M296,94.1c-2.3,3.4-3.5,3.8-3.8,3.9c-0.5-0.5-1-3.2,0.1-8.5c1-4.6,3.2-14.9,5.3-24.7c5.8-1.8,11.1-3.2,16.2-4.4C307.7,73.5,300.1,88.1,296,94.1 M337.3,73.6c0.3-0.3,0.5-0.5,0.8-0.7c-0.9,2.1-2.2,4.1-3.7,5.8C334.9,76.8,335.9,75.1,337.3,73.6 M597.9,60.5c-0.5-0.7-1.6-0.9-2.3-0.3l0,0c-28.1,20.9-42.1,28.1-50.1,25.8c-0.8-0.3-1.5-0.9-1.7-1.8c-0.5-2-0.6-4.1-0.2-6.1c10.4-9.9,14.6-14.8,16.7-20.1c1.8-4.5-0.3-6-1-6.4c-2.8-1.4-7.1,1.6-11.5,8.2c-3.5,5-5.9,10.6-7.2,16.6c-1.5,1.5-3.2,3-5.1,4.7c-9.7,9-20.6,12.4-24.6,9.9c-1.6-1-2-3.1-1.1-6.2c1.1-3.5,2.5-7,4.2-10.2c3.3-2.1,6.6-4.4,10-6.9c6.2-4.4,9.8-10.8,7.8-13.7c-0.7-1-2.6-2.3-6.8,0.7c-3.5,2.4-9.1,9.5-13.5,17.7c-6.7,4.4-13.6,8.3-20.8,11.8c1.7-8.3,3.6-16.7,5.6-24.6c2.3-2.5,4.3-5.2,6.1-8.1c7.6-12.4,9.3-26,7-29.5c-0.4-0.8-1.3-1.3-2.2-1.2c-1.4,0.1-2.5,1.4-3.6,4c-4.1,10.9-7.6,22-10.3,33.3c-7.3,8-17.6,15.5-29.8,21.6c4.9-26.3,13.1-51.9,24.4-76.2c0.4-0.8,0-1.8-0.8-2.2c-0.6-0.3-1.4-0.2-1.9,0.4C485,2,461.2,27.1,433.4,59c-2,2.4-3.8,4.9-5.3,7.6c-5.8,1-14.5,12.6-37.2,46.1c-5.9,8.6-11.3,12.5-15.5,10.8c-8.1-3.3-10.2-23.9-7.1-41.1c8.1-44.6,19.2-62,24.3-62.5c1.1-0.1,2,0.8,2.8,2.7c0.3,0.8,1.3,1.3,2.1,0.9c0.8-0.3,1.3-1.3,0.9-2.1l0,0c-1.8-4.5-4.6-4.9-6.1-4.8C382.7,17.4,372,43,365,81.7c-3.9,21.4,0.1,41,9.1,44.7c4,1.6,10.7,0.9,19.4-12c12.6-18.6,25.5-37.6,32.2-43.2c-3.6,8.8-3.9,17.2-2.2,20.2c2,3.4,4.3,2.9,5.3,2.5c4.8-2.1,7.5-14.6,5-22.8c-0.4-1.5-1.2-2.9-2.4-3.9c1.3-2.2,2.8-4.3,4.4-6.2c19-21.8,36.1-40.5,45.1-50.1c-9.6,22.6-16.7,46.3-21.1,70.5c-3.2,1.5-6.5,2.9-10,4.1c-0.8,0.3-1.2,1.1-1,1.9s0.9,1.3,1.7,1.3c2.7,0.1,5.4,1,7.6,2.4c-1.7,11-2.5,20-3.1,26.2c-0.9,9.8,0.2,20.7,6.3,22.2c3.2,0.8,6.5-1.7,8.6-6.6c2.7-6.7,3.9-13.8,3.7-21c-0.2-6-1.8-14.2-7.7-19.4c-1.3-1.1-2.6-2.2-4.1-3.1c0.3-1.9,0.6-3.9,1-5.9c10.6-4.9,20.4-11.5,29-19.4c-1.7,7.1-3.3,14.4-4.8,21.7c-1.6,0.7-3.2,1.4-4.9,2c-0.8,0.3-1.3,1.3-0.9,2.1V90c1.3,2.9,2.4,5.9,3.3,8.9c-1.9,10.4-3.3,20.3-4.2,28.5c-1.2,11.1,3.1,12.4,4,12.6c0.2,0,0.4,0,0.5,0c1.8,0,3.9-1.5,4.9-5.8c2.1-8.5,1.8-22.3-1.9-35.5c0.6-3.5,1.3-7.1,2-10.7c6.5-3,12.9-6.4,19-10.2c-0.8,2-1.6,4-2.2,6.1c-1.8,6.2,0.8,8.8,2.5,9.9c5.9,3.6,18.4-0.9,28.5-10.3l2.3-2.2c0,1.3,0.2,2.7,0.6,4c0.6,1.8,2,3.3,3.8,3.8c9.2,2.7,23.6-4.4,53-26.3C598.3,62.2,598.4,61.2,597.9,60.5 M550.5,61.6c3.8-5.7,6.5-7,7.2-7.1c0,0.8-0.1,1.6-0.5,2.3c-1.6,4.1-4.8,8.1-12,15.2C546.6,68.3,548.4,64.8,550.5,61.6L550.5,61.6z M527,57.3c0.7-0.5,1.4-0.9,2.3-1.2c-0.1,1.3-1.8,5.3-7,8.9c-1.1,0.8-2.6,1.8-4.4,3.1C520.3,64.1,523.4,60.5,527,57.3L527,57.3z M506.7,25.9c0.1-0.3,0.2-0.6,0.4-0.8c0.4,4-1.2,14.4-7.4,24.6c-0.4,0.6-0.8,1.3-1.2,1.9C500.7,42.9,503.4,34.3,506.7,25.9L506.7,25.9z M427.6,90.9c-0.4,0.2-1-0.8-1.2-1.1c-0.6-1.1-1.1-5.1,0.4-11.2c0.7-2.9,1.7-5.7,3-8.4c0.4,0.6,0.7,1.2,0.9,1.9C433.1,79.6,430,89.9,427.6,90.9L427.6,90.9z M456.2,86.5c1-0.4,2-0.9,3-1.3c-0.1,0.8-0.3,1.6-0.4,2.4C458,87.2,457.1,86.8,456.2,86.5L456.2,86.5z M463.8,95c9.3,8.1,7.4,26.7,3.2,36.7c-1.3,3.2-3.3,5.1-4.8,4.7c-2.2-0.6-5-6-3.8-18.8c0.6-5.9,1.4-14.3,2.9-24.6C462.1,93.6,462.9,94.2,463.8,95L463.8,95z M486.3,89.7c-0.2,0.9-0.3,1.8-0.5,2.7c-0.3-0.7-0.6-1.4-0.9-2.1C485.4,90,485.9,89.9,486.3,89.7L486.3,89.7z M486.7,133.5c-0.6,2.4-1.5,3.3-1.7,3.4c-0.3-0.1-2-2.2-1.3-9c0.7-6.2,1.7-13.3,2.9-20.8C488.6,118,488,128,486.7,133.5L486.7,133.5z M73.3,67.9c11.8-4.3,23.9-7.6,36.2-9.9c0.9-0.1,1.5-1,1.3-1.9c-0.1-0.9-1-1.5-1.9-1.3C97,57,85.1,60.2,73.6,64.4c0.9-14.5,1.9-27.5,2.5-33.9C76.9,20.7,76,15.9,73,15c-3.1-1-6.7,2.4-12,11.5c-5.4,9.1-14,27.1-22.4,51.8c-1.3,0.6-2.5,1.1-3.7,1.7C16,88.6,5.3,97.7,1.9,107.8c-0.3,0.9,0.2,1.8,1,2.1l0,0c0.9,0.3,1.8-0.2,2.1-1c3-9.2,13.2-17.8,31.2-26.1c0.3-0.1,0.6-0.3,0.9-0.4c-6.5,19.9-11.7,40.2-15.5,60.8c-0.2,0.9,0.4,1.7,1.3,1.9c0.1,0,0.2,0,0.3,0c0.8,0,1.5-0.6,1.6-1.3c4-21.4,9.5-42.6,16.4-63.2c8.6-3.9,18.7-8,28.8-11.6c-1.5,24.1-2.8,51-1.5,56.3c0.2,0.9,1.1,1.4,2,1.2l0,0l0,0c0.9-0.2,1.4-1.1,1.2-2l0,0l0,0C70.5,119.6,71.8,92.4,73.3,67.9 M42.5,76.3c8-23,16-39.7,21.2-48.3c6.1-10.2,8.2-10,8.2-10s1.8,1.1,0.8,12.1c-0.4,4.4-1.5,18.9-2.5,35.4C60.6,68.9,51,72.7,42.5,76.3"/></svg>
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {% comment %}{{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}{% endcomment %}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                <svg class="header__heading-logo motion-reduce" xmlns="http://www.w3.org/2000/svg" x="0px"y="0px" viewBox="0 0 600 156"><path d="M221.3,60.3c-6.2,7.4-13.1,14.8-19.7,21.9c-5.5,5.9-10.8,11.6-15.8,17.4c3.4-14.2,6.1-27.3,7.7-34.5c0.5-2.4,0.9-4.3,1-4.9c0.4-0.8,0-1.8-0.8-2.2c-0.2-0.1-0.3-0.1-0.5-0.1c-0.7-0.1-1.4,0.3-1.6,1l0,0c-4.8,9.8-10.2,19.2-16.2,28.3c-2.5,3.7-3.8,4.7-4.3,5.1c-0.5-2.1-0.6-4.3-0.2-6.5c0.4-5.6,1.5-11.2,3.2-16.6c0.3-0.8-0.1-1.8-1-2.1c-0.7-0.3-1.5,0-1.9,0.7c0,0.1-4.1,6.5-12.7,17.8c-3.3,4.3-4.9,5.4-5.5,5.6c-0.2-1.1-0.2-2.3,0-3.4c0.4-3.4,2.8-16.9,2.8-17c0.2-0.9-0.4-1.7-1.3-1.9c-0.8-0.1-1.6,0.3-1.8,1.1c-4.7,15.2-8.5,18.4-9.6,18.3c-0.4,0-0.8-0.8-1.1-2c-0.4-4.1,0.8-8.2,3.3-11.5c1.1-1.8,2.8-3.2,4.8-3.9c0.9-0.1,1.5-1,1.3-1.9l0,0c-0.1-0.9-1-1.5-1.9-1.3l0,0l0,0c-2.3,0.4-4.8,2.2-6.9,5.2c-2,2.9-3.4,6.2-3.8,9.7l-0.1,0.1c-7.1,9.9-11,12.2-12,12.3c-0.2-1.1-0.2-2.2,0.1-3.3c3.8-19.1,8.7-38,14.7-56.6c0.3-0.9-0.2-1.8-1.1-2c-0.8-0.2-1.7,0.2-2,1c-0.1,0.3-12.4,34.5-22.5,51.2c-6.4,10.4-8.8,9.7-8.8,9.7c-0.6-0.2-1.3-2.3-1-5.2c0.9-8.5,4.7-15.6,6.4-17.4c1.9-1.9,3.6-2.3,4.5-2s1.3,1.4,1.4,2.2c0.1,0.9,1,1.5,1.9,1.3c0.9-0.1,1.5-1,1.4-1.8l0,0c-0.2-2.2-1.6-4-3.6-4.8c-2.4-0.8-5.2,0.2-7.8,2.8c-2.4,2.4-6.4,10.2-7.3,19.3c-0.4,3.5,0.3,7.6,3.2,8.6c0.4,0.1,0.8,0.2,1.2,0.2c3.1,0,6.7-3.7,11.4-11.3c4-6.8,7.5-13.9,10.6-21.2c-2,7.9-4,16.7-5.7,25.3c-0.3,1.4-1.1,5.7,1.7,6.9c3.4,1.5,9-4.2,13.7-10.3c0.6,2.3,2,3.8,3.9,3.9c2.6,0.2,5.1-2.4,7.2-6.3c-0.1,0.9-0.2,1.6-0.3,2.1c-0.5,3.9,0.2,6.2,2,6.9c2.3,0.9,5-1.1,9.4-6.8c3.2-4.1,5.7-7.6,7.7-10.3c-0.5,2.8-0.9,5.5-1.1,8.3c-0.4,6.3,0.2,9.2,2.4,9.9c2.1,0.7,4.5-1.1,8.1-6.5c4.3-6.4,8.1-12.8,10.9-17.9c-1.9,8.8-4.6,21.3-7.8,34c-9.5,11.5-17.3,22.9-21.3,34.6c-2.7,8-2.1,13.8,1.5,15c0.4,0.1,0.8,0.2,1.3,0.2c3.9,0,8.4-5.7,11.9-15.3c3.4-9.3,6.7-21.3,9.7-33.1c5.6-7,12.4-14.3,19.4-21.8c6.7-7.2,13.6-14.6,19.8-22c0.6-0.7,0.5-1.7-0.2-2.3C222.9,59.5,221.9,59.6,221.3,60.3L221.3,60.3M171.3,138.6c-3.9,10.9-8,13.4-9,13.1c-0.7-0.2-1.9-3.4,0.6-10.9c3.2-9.5,9-18.7,16.2-28.1C176.6,122.1,174,131.2,171.3,138.6M266.4,81.2c-0.2,0-0.5,0-0.7,0c-0.2-0.2-0.7-1-1.1-6.1c-0.1-1.1-0.3-4.5-2.8-5.1c-1.6-0.4-4.1,0.1-9,7.5l1.8-6.8c0.2-0.9-0.3-1.8-1.2-2c-0.6-0.2-1.3,0.1-1.7,0.6c-0.1,0.1-6.9,9.4-13.6,17.8c-0.5,0.6-1,1.2-1.6,1.8c-0.1-2.3,1-8.7,4.8-18.6c0.3-0.8-0.1-1.8-0.9-2.1s-1.8,0.1-2.1,0.9l0,0l0,0c-2.4,6.2-7.4,20.9-3.4,23.1c0.4,0.2,0.8,0.3,1.2,0.3c1.9,0,3.8-2.3,4.7-3.4c3.1-3.9,6.2-7.9,8.7-11.2l-2,7.6c-0.2,0.9,0.3,1.8,1.2,2c0.6,0.2,1.3-0.1,1.7-0.6c0.1-0.2,2.9-3.8,4.5-6.4c3.9-6.1,5.8-7.2,6.3-7.4c0.3,0.7,0.5,1.4,0.5,2.2c0.4,5.1,0.9,7.3,2.2,8.4c0.9,0.7,2,1,3.1,0.8c0.9-0.1,1.6-0.8,1.5-1.7l0,0l0,0C268.1,81.8,267.3,81.1,266.4,81.2 M239.8,61.9c0.3,0,0.7-0.1,1-0.3c2.7-1.7,5-3.9,6.8-6.5c0.5-0.8,0.2-1.8-0.6-2.2l0,0l0,0c-0.8-0.5-1.8-0.2-2.2,0.6l0,0l0,0c-1.6,2.2-3.6,4.1-5.9,5.5c-0.7,0.5-0.9,1.5-0.4,2.3C238.8,61.7,239.3,61.9,239.8,61.9M354.2,68.6c-9.1,9.8-12.8,13.3-18.2,13.9c-0.3,0-0.6,0-0.9,0c2.9-2.8,5.1-6.2,6.4-10c0.8-2.3-0.3-3.3-0.8-3.6c-1.4-0.9-3.5-0.1-5.9,2.4c-2.4,2.4-4.9,7.6-4.2,11.1c-0.3,0.2-0.5,0.5-0.8,0.7c-2.5,2.3-4,2.8-4.3,2.8c-0.1-0.2-0.4-1.1,0.2-3.8c2.3-10.5,0.6-12.5-0.9-13.1c-0.7-0.3-2.4-0.6-4.2,2c-1.9,2.8-3.6,5.8-5,8.9c1.2-6,2.7-13.3,4.4-20.9c6.1-1.2,12.3-2.2,19.1-2.9c0.9-0.1,1.6-0.8,1.5-1.7s-0.8-1.6-1.7-1.5h-0.1c-6.3,0.7-12.2,1.6-17.9,2.7c0.6-2.5,1.3-5.1,2-7.7c0.2-0.9-0.3-1.8-1.2-2c-0.8-0.2-1.6,0.2-1.9,0.9c-1.2,3-2.7,6.3-4.3,9.8c-5.5,1.2-11.1,2.7-17.2,4.5c2.1-9.9,3.9-18.4,4-18.6c0.2-0.9-0.4-1.7-1.3-1.9l0,0c-0.9-0.2-1.7,0.4-1.9,1.3c0,0.2-2.1,9.7-4.3,20.3c-5.4,1.7-11.3,3.7-17.9,6.1c-0.9,0.3-1.3,1.2-1,2.1s1.2,1.3,2.1,1c0,0,0,0,0.1,0c5.9-2.1,11.1-3.9,16-5.5c-2,9.2-4,18.5-4.9,22.9c-0.8,3.9-1.7,10.8,1.8,12.2c0.4,0.2,0.8,0.2,1.2,0.2c2.9,0,5.6-4,6.5-5.4c3.9-5.8,10.9-19.1,16.9-31.7c-3.8,17.2-6,31.4-6,31.5c-0.1,0.9,0.5,1.7,1.4,1.9c0.8,0.1,1.5-0.4,1.8-1.1c3.3-10.2,6.7-17.9,10.7-23.7c0.1-0.1,0.1-0.2,0.2-0.2c0.2,3-0.2,6-1,8.8c-0.3,1.4-1.3,5.8,1.4,7.3c1.9,1.1,4.6,0.1,8.2-3.2l0.4-0.4c1.1,0.7,2.5,0.9,3.8,0.7c6.8-0.8,11.1-5.2,20.1-14.9c0.6-0.7,0.6-1.7-0.1-2.3l0,0l0,0C355.9,68,354.8,68,354.2,68.6C354.2,68.6,354.2,68.7,354.2,68.6L354.2,68.6 M296,94.1c-2.3,3.4-3.5,3.8-3.8,3.9c-0.5-0.5-1-3.2,0.1-8.5c1-4.6,3.2-14.9,5.3-24.7c5.8-1.8,11.1-3.2,16.2-4.4C307.7,73.5,300.1,88.1,296,94.1 M337.3,73.6c0.3-0.3,0.5-0.5,0.8-0.7c-0.9,2.1-2.2,4.1-3.7,5.8C334.9,76.8,335.9,75.1,337.3,73.6 M597.9,60.5c-0.5-0.7-1.6-0.9-2.3-0.3l0,0c-28.1,20.9-42.1,28.1-50.1,25.8c-0.8-0.3-1.5-0.9-1.7-1.8c-0.5-2-0.6-4.1-0.2-6.1c10.4-9.9,14.6-14.8,16.7-20.1c1.8-4.5-0.3-6-1-6.4c-2.8-1.4-7.1,1.6-11.5,8.2c-3.5,5-5.9,10.6-7.2,16.6c-1.5,1.5-3.2,3-5.1,4.7c-9.7,9-20.6,12.4-24.6,9.9c-1.6-1-2-3.1-1.1-6.2c1.1-3.5,2.5-7,4.2-10.2c3.3-2.1,6.6-4.4,10-6.9c6.2-4.4,9.8-10.8,7.8-13.7c-0.7-1-2.6-2.3-6.8,0.7c-3.5,2.4-9.1,9.5-13.5,17.7c-6.7,4.4-13.6,8.3-20.8,11.8c1.7-8.3,3.6-16.7,5.6-24.6c2.3-2.5,4.3-5.2,6.1-8.1c7.6-12.4,9.3-26,7-29.5c-0.4-0.8-1.3-1.3-2.2-1.2c-1.4,0.1-2.5,1.4-3.6,4c-4.1,10.9-7.6,22-10.3,33.3c-7.3,8-17.6,15.5-29.8,21.6c4.9-26.3,13.1-51.9,24.4-76.2c0.4-0.8,0-1.8-0.8-2.2c-0.6-0.3-1.4-0.2-1.9,0.4C485,2,461.2,27.1,433.4,59c-2,2.4-3.8,4.9-5.3,7.6c-5.8,1-14.5,12.6-37.2,46.1c-5.9,8.6-11.3,12.5-15.5,10.8c-8.1-3.3-10.2-23.9-7.1-41.1c8.1-44.6,19.2-62,24.3-62.5c1.1-0.1,2,0.8,2.8,2.7c0.3,0.8,1.3,1.3,2.1,0.9c0.8-0.3,1.3-1.3,0.9-2.1l0,0c-1.8-4.5-4.6-4.9-6.1-4.8C382.7,17.4,372,43,365,81.7c-3.9,21.4,0.1,41,9.1,44.7c4,1.6,10.7,0.9,19.4-12c12.6-18.6,25.5-37.6,32.2-43.2c-3.6,8.8-3.9,17.2-2.2,20.2c2,3.4,4.3,2.9,5.3,2.5c4.8-2.1,7.5-14.6,5-22.8c-0.4-1.5-1.2-2.9-2.4-3.9c1.3-2.2,2.8-4.3,4.4-6.2c19-21.8,36.1-40.5,45.1-50.1c-9.6,22.6-16.7,46.3-21.1,70.5c-3.2,1.5-6.5,2.9-10,4.1c-0.8,0.3-1.2,1.1-1,1.9s0.9,1.3,1.7,1.3c2.7,0.1,5.4,1,7.6,2.4c-1.7,11-2.5,20-3.1,26.2c-0.9,9.8,0.2,20.7,6.3,22.2c3.2,0.8,6.5-1.7,8.6-6.6c2.7-6.7,3.9-13.8,3.7-21c-0.2-6-1.8-14.2-7.7-19.4c-1.3-1.1-2.6-2.2-4.1-3.1c0.3-1.9,0.6-3.9,1-5.9c10.6-4.9,20.4-11.5,29-19.4c-1.7,7.1-3.3,14.4-4.8,21.7c-1.6,0.7-3.2,1.4-4.9,2c-0.8,0.3-1.3,1.3-0.9,2.1V90c1.3,2.9,2.4,5.9,3.3,8.9c-1.9,10.4-3.3,20.3-4.2,28.5c-1.2,11.1,3.1,12.4,4,12.6c0.2,0,0.4,0,0.5,0c1.8,0,3.9-1.5,4.9-5.8c2.1-8.5,1.8-22.3-1.9-35.5c0.6-3.5,1.3-7.1,2-10.7c6.5-3,12.9-6.4,19-10.2c-0.8,2-1.6,4-2.2,6.1c-1.8,6.2,0.8,8.8,2.5,9.9c5.9,3.6,18.4-0.9,28.5-10.3l2.3-2.2c0,1.3,0.2,2.7,0.6,4c0.6,1.8,2,3.3,3.8,3.8c9.2,2.7,23.6-4.4,53-26.3C598.3,62.2,598.4,61.2,597.9,60.5 M550.5,61.6c3.8-5.7,6.5-7,7.2-7.1c0,0.8-0.1,1.6-0.5,2.3c-1.6,4.1-4.8,8.1-12,15.2C546.6,68.3,548.4,64.8,550.5,61.6L550.5,61.6z M527,57.3c0.7-0.5,1.4-0.9,2.3-1.2c-0.1,1.3-1.8,5.3-7,8.9c-1.1,0.8-2.6,1.8-4.4,3.1C520.3,64.1,523.4,60.5,527,57.3L527,57.3z M506.7,25.9c0.1-0.3,0.2-0.6,0.4-0.8c0.4,4-1.2,14.4-7.4,24.6c-0.4,0.6-0.8,1.3-1.2,1.9C500.7,42.9,503.4,34.3,506.7,25.9L506.7,25.9z M427.6,90.9c-0.4,0.2-1-0.8-1.2-1.1c-0.6-1.1-1.1-5.1,0.4-11.2c0.7-2.9,1.7-5.7,3-8.4c0.4,0.6,0.7,1.2,0.9,1.9C433.1,79.6,430,89.9,427.6,90.9L427.6,90.9z M456.2,86.5c1-0.4,2-0.9,3-1.3c-0.1,0.8-0.3,1.6-0.4,2.4C458,87.2,457.1,86.8,456.2,86.5L456.2,86.5z M463.8,95c9.3,8.1,7.4,26.7,3.2,36.7c-1.3,3.2-3.3,5.1-4.8,4.7c-2.2-0.6-5-6-3.8-18.8c0.6-5.9,1.4-14.3,2.9-24.6C462.1,93.6,462.9,94.2,463.8,95L463.8,95z M486.3,89.7c-0.2,0.9-0.3,1.8-0.5,2.7c-0.3-0.7-0.6-1.4-0.9-2.1C485.4,90,485.9,89.9,486.3,89.7L486.3,89.7z M486.7,133.5c-0.6,2.4-1.5,3.3-1.7,3.4c-0.3-0.1-2-2.2-1.3-9c0.7-6.2,1.7-13.3,2.9-20.8C488.6,118,488,128,486.7,133.5L486.7,133.5z M73.3,67.9c11.8-4.3,23.9-7.6,36.2-9.9c0.9-0.1,1.5-1,1.3-1.9c-0.1-0.9-1-1.5-1.9-1.3C97,57,85.1,60.2,73.6,64.4c0.9-14.5,1.9-27.5,2.5-33.9C76.9,20.7,76,15.9,73,15c-3.1-1-6.7,2.4-12,11.5c-5.4,9.1-14,27.1-22.4,51.8c-1.3,0.6-2.5,1.1-3.7,1.7C16,88.6,5.3,97.7,1.9,107.8c-0.3,0.9,0.2,1.8,1,2.1l0,0c0.9,0.3,1.8-0.2,2.1-1c3-9.2,13.2-17.8,31.2-26.1c0.3-0.1,0.6-0.3,0.9-0.4c-6.5,19.9-11.7,40.2-15.5,60.8c-0.2,0.9,0.4,1.7,1.3,1.9c0.1,0,0.2,0,0.3,0c0.8,0,1.5-0.6,1.6-1.3c4-21.4,9.5-42.6,16.4-63.2c8.6-3.9,18.7-8,28.8-11.6c-1.5,24.1-2.8,51-1.5,56.3c0.2,0.9,1.1,1.4,2,1.2l0,0l0,0c0.9-0.2,1.4-1.1,1.2-2l0,0l0,0C70.5,119.6,71.8,92.4,73.3,67.9 M42.5,76.3c8-23,16-39.7,21.2-48.3c6.1-10.2,8.2-10,8.2-10s1.8,1.1,0.8,12.1c-0.4,4.4-1.5,18.9-2.5,35.4C60.6,68.9,51,72.7,42.5,76.3"/></svg>
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {% comment %}{{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}{% endcomment %}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header__localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="HeaderCountryMobileLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderLanguageMobileLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% comment %}{% if section.settings.menu != blank %} small-hide{% endif %}{% endcomment %}}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "announcement",
      "name": "ヘッダー：送料無料エリア",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "header-postage-img",
          "label": "アイコン"
        },
        {
          "type": "text",
          "id": "header-postage-text1",
          "label": "テキスト"
        },
        {
          "type": "text",
          "id": "header-postage-text2",
          "label": "強調テキスト"
        }
      ]
    }
  ]
}
{% endschema %}
