{{ 'lp-roasting-lesson__voice.css' | asset_url | stylesheet_tag }}

<section id="voice" class="voice">
  <div class="voice-content container">
    <h2 class="common-heading01">
      <div class="common-heading01__text01">Voice</div>
      <div class="common-heading01__text02">お客様の声</div>
    </h2>
    <ul class="voice-list">
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="{{ 'lp-roasting-lesson__voice-image01.webp' | asset_url }}">
        </div>
        <div class="voice-list-item__content">
          <p>焙煎は、パティシエやシェフのように修行を積まないといけないと思っていましたが、こちらの講座を受けて、私でもできる。と自信が持てました！</p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>40代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>女性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="{{ 'lp-roasting-lesson__voice-image02.webp' | asset_url }}">
        </div>
        <div class="voice-list-item__content">
          <p>焙煎についてはまったく知識がなく不安だったのですが、基礎から、焙煎についてのポイントを丁寧に教えていただき、しっかりとポイント抑えて効率的に学ぶことができました。</p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>50代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>男性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="{{ 'lp-roasting-lesson__voice-image03.webp' | asset_url }}">
        </div>
        <div class="voice-list-item__content">
          <p>最初、本当に1日で出来るようになるのか？と半信半疑だったのですが・・・しっかりと1日で焙煎を習得することができました！とても興味深い内容でした！</p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>30代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>男性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="{{ 'lp-roasting-lesson__voice-image04.webp' | asset_url }}">
        </div>
        <div class="voice-list-item__content">
          <p>焙煎について、何を信じて何を学べば良いのかわからなくなっていたのですが、本講義では、大切なことにポイントを絞り、焙煎とは何か？をしっかりと理解することができました。本当に、ありがとうございました。</p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>50代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>男性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="{{ 'lp-roasting-lesson__voice-image05.webp' | asset_url }}">
        </div>
        <div class="voice-list-item__content">
          <p>1日で集中して学ぶことができました。あっという間でしたが、これを知っている知らないとでは、全然違います！はやく自分でももっと焙煎したいと思いました。</p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>50代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>女性</dd>
          </dl>
        </div>
      </li>
      <li class="voice-list__item voice-list-item">
        <div class="voice-list-item__image">
          <img src="{{ 'lp-roasting-lesson__voice-image06.webp' | asset_url }}">
        </div>
        <div class="voice-list-item__content">
          <p>少人数での開催なので、不明点や疑問点を随時質問でき、納得して理解することができました。これから自分の好きな豆を好きな時に焙煎して飲めるのが楽しみです。</p>
        </div>
        <div class="voice-list-item__metadata">
          <dl>
            <dt hidden>年齢</dt>
            <dd>60代</dd>
          </dl>
          <dl>
            <dt hidden>性別</dt>
            <dd>男性</dd>
          </dl>
        </div>
      </li>
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "【LP】焙煎講座 お客様の声",
  "presets": [
    {
      "name": "【LP】焙煎講座 お客様の声"
    }
  ]
}
{% endschema %}
