{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="page-width page-width--narrow section-{{ section.id }}-padding article-wrapper content-size-s{% if section.settings.change_block !=blank %} section-block{% endif %}">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} heading size-xl align-center">
    {% if section.settings.heading !=blank %}
      {{ section.settings.heading  }}
    {% else %}
      {{ page.title | escape }}
    {% endif %}
  </h1>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} article-template__content">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "change_block",
      "default": false,
      "label": "セクションを解除する（セクション間の余白を狭める）"
    },
    {
      "type": "header",
      "content": "ページタイトル"
    },
    {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
    {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.heading_size.options__1.label"
          }, {
            "value": "m",
            "label": "t:sections.all.heading_size.options__2.label"
          }, {
            "value": "l",
            "label": "t:sections.all.heading_size.options__3.label"
          }, {
            "value": "xl",
            "label": "最大"
          }
        ],
        "default": "l",
        "label": "t:sections.all.heading_size.label"
      },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
