{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


{% if section.settings.box_gap != "default" %}
  {% assign grid_gap = 'grid--gap-' | append: section.settings.box_gap %}
{% endif %}
{% if section.settings.content_max_width != "default" %}
  {% assign content_size = 'content-size-' | append: section.settings.content_max_width %}
{% endif %}



{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding {{ content_size }} ">
    {% comment %}}<h1 class="title--primary{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ blog.title | escape }}
    </h1>{% endcomment %}
    {% assign articles_modulo = blog.articles | modulo : 2 %}
  {{ blog.articles }}
  
    <div class="blog-articles grid grid--2-col-desktop grid--2-col-tablet {{ grid_gap }} article-list {% if articles_modulo == 0 and blog.articles > 1 %} type-even {% endif %}{% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div
          class="blog-articles__article article grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "コンテンツの最大横幅"
    },
    {
      "type": "select",
      "id": "content_max_width",
      "default": "default",
      "label": "コンテンツの横幅",
      "options": [
        {
          "value": "s",
          "label": "狭い"
        }, {
          "value": "m",
          "label": "少し狭い"
        }, {
          "value": "default",
          "label": "標準"
        }
      ]
    },
   {
      "type": "header",
      "content": "カラム間の余白"
    },
    {
      "type": "select",
      "id": "box_gap",
      "default": "default",
      "label": "余白の広さ",
      "options": [
        {
          "value": "none",
          "label": "余白なし"
        }, {
          "value": "s",
          "label": "狭い"
        }, {
          "value": "default",
          "label": "標準"
        }, {
          "value": "l",
          "label": "広い"
        }, {
          "value": "xl",
          "label": "最大"
        }
        
      ]
    }
  ]
}
{% endschema %}
